button{
    color: purple;
}

/* /* Css selectors are used to select the HTML elements that you want to style.
 In this case, the selector is "button",
  which means that the styles defined within the curly braces will be
   applied to all button elements in the HTML document.  
   The style being applied here is setting the text color of the button to black. */
   /* Types: */
   /* 1.Universal selector (*): This selector targets all elements in the document. For example: */
    * {
      color: red;
    }  

    /* 2. Type selector (element selector): This selector targets all elements of a specific type. For example: */
    p {
      font-size: 16px;
    }

    /* 3.Class selector: This selector targets all elements with a specific class attribute. For example: */
    .raj {
      background-color: aqua;
    }

    /* 4. ID selector: This selector targets a specific element with a unique ID attribute. For example: */
    #login {
      border: 1px solid black;
      background-color: aqua;
    }   

    /* 5. Attribute selector: This selector targets elements based on their attributes. For example: */
    a[class="text"] {
      width: 200px;
      background-color:  aqua;
    }   

    /* 6. Pseudo-class selector: This selector targets elements based on their state or position. For example: */
    a:hover {
      color: green;
    }

    /* !importtant: This is not a selector, but rather a declaration that can be added to a CSS property to give it higher priority over other declarations. For example: */  